# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
